<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background: none;">
	<div class="container">
	  <div class="navbar-header">
	  	<a class="navbar-brand page-scroll" href="/" style="color: #3d078a;">Seat To Seat</a>
	  </div>
	  
	   <ul class="nav navbar-nav navbar-right" id="NavTab">
	   		<li> <a class="page-scroll" href="/about">About Us</a></li>
	   		
	        <li class="drop-down"> <a class="page-scroll" href="/category">Review</a>
	        	<div class="mega-menu"> <!--드롭다운-->
				   <span class="categories-list" >
					<ul >
						<li><a class="drop-list" href="/category">공연</a></li>
						<li style="margin-top: 30px; ">
							<a class="drop-list" href="/categorySport">스포츠</a>
						</li>
						<li style="margin-top: 60px;"><a class="drop-list" href="/categoryTheater">극장</a></li>
					</ul>
					</span>
				</div>
	        </li>
	        <li> <a class="page-scroll" href="/create">Add Review</a></li>
	        
	        <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        	<% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        	<% end %>
	    </ul>
	</div>
</nav>


<header>
  <div class="container"  style="margin-top:50px;">
	<div class="row">
	    <div class="header-content" >
        <div class="row col-md-6" style="justify-content: space-around;">
                
                
                <a class="" href="/category">공연장별로 보기</a>
                <a calss="" href="/category2">작품별로 보기</a>
                
                
            <select class="form-control col-md-2" style="width: 120px; display:inline; margin-right: 3%;" id="select" onChange="getState(this.value);">
                <option value='all' name = 'region'>지역 전체</option>
                    <option value="서울">서울</option>
            </select>
            <select class="form-control col-md-2" style="width: 120px; display:inline; margin-right: 3%;" id="select">
                <option value=''>1</option>
                <option value=''>2</option>
                <option value=''>3</option>
            </select>
    </div>
            
            
            
  </div></div></div>
</header>






<div class="row" style="margin: 5% 0 2% 0">
            <div class="col-lg-12">
                <h3>Review List page</h3>
            </div>
        </div>
        
        
        <div class="row">
      
            <% @placeFind.zip(@perfo.each).each do |u,x| %>
          
                <div class="col-md-4 col-sm-4">
                    <div class="thumbnail">
                        <a href="/perfoInfo/<%= x.id %>">
                        <% if x.perfo_img.blank? %>
                        <img src="http://placehold.it/300x200" alt="">
                        <% else %>
                        <img src="<%= x.perfo_img %>" width="300" height="200" alt="">
                        <% end %>
                        
                            <div class="caption">
                                <%= x.perfo_name %><br>
                               <!-- 지역/장소 이름 --> <%= u.region %> <%= u.place_name %>
                
                                   
                            </div>
                            
                        </a>
                    </div>
                </div>
             
             <% end %>
            
        </div>
        
</div>

<!--드롭다운 js-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
<script>
    $(document).ready(function() {
			
			//drop down menu	
					$(".drop-down").hover(function() {
						$('.mega-menu').addClass('display-on');
					});
					$(".drop-down").mouseleave(function() {
						$('.mega-menu').removeClass('display-on');
					});
			
			});
</script>