<body style="background-color: #fff; color: #3d078a; overflow:hidden;">
<div class="logincontainer" >
  <div class="login">
  	<h1 class="login-heading deviceTitle">Seat to Seat</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <!--E-mail-->
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'E-mail', input_html: { class: 'login_input'} %>
    
    <!--User name-->
    <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'User name', input_html: { class: 'login_input'} %>

    <!--Password-->
    <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'login_input'}, hint: "" if @minimum_password_length %>
    
    <!--PasswordConfirmation-->
    <%= f.input :password_confirmation, required: true, label: false, placeholder: 'PasswordConfirmation', input_html: { class: 'login_input'} %>
    
    <!-- Birthdate -->
    
    <%= f.input :birthdate, :start_year => (Date.current).year, :end_year => (Date.current - 100.year).year, required: false,
    autofocus: true, label: 'Birthdate', label_html: { class: 'label_birth'}, input_html: { class: 'login_input_birt'} %>
    
  <%#= f.button :submit, "가입하기" %>
  <div class="row" style="margin-right: 0; margin-top: 8%;" >
  <input type="submit" name="commit" value="가입하기" class="login_btn login_btn--right"  >
  </div>
    
    <a class="login_link" href="/users/sign_in">로그인</a>
    <a class="login_link" href="/users/password/new">비밀번호 찾기</a>
    
    <% end %>
  </div>
</div>
 </body>